.statusbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 30px;
  background: #2c3e50;
  font-size: .9em;
}

.statusbar .coordinates,
.statusbar .zoom input,
.statusbar .zoom input:focus,
.statusbar i.icon {
  color: #fff;
}

.statusbar .coordinates {
  padding: .45em 0 0 1em;
}

.statusbar .coordinates .x-value {
  margin-right: 1em;
}

.statusbar .coordinates .x-value,
.statusbar .coordinates .y-value {
  letter-spacing: .12em;
}

.statusbar .zoom {
  padding: .4em 0;
}

.statusbar .zoom input {
  width: 60px;
}
