.toolbar {
  background-color: #ecf0f1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.toolbar .ui.menu {
  background-color: transparent;
}

/* Toolbar buttons */
.toolbar .ui.menu a.button {
  background-color: transparent;
}

.toolbar .ui.menu a.button:hover {
  background-color: #e6e6e6;
}

.toolbar .ui.menu i.icon {
  color: #777;
}

/* Toolbar Width and Height */
.toolbar .dimensions .icon.input > input {
  width: 85px;
  padding-left: 2em!important;
  padding-right: 0!important;
}

.toolbar .dimensions .left i.icon {
  right: auto;
  left: 0;
}

.toolbar .dimensions .ui.slider {
  padding: .3em 0 0 10px;
}

.toolbar .dimensions .ui.slider.checkbox .box:before,
.toolbar .dimensions .ui.slider.checkbox label:before {
  background-color: #aaa!important;
}

.toolbar .ui.slider.checkbox input:checked~.box:before,
.toolbar .ui.slider.checkbox input:checked~label:before {
  background-color: #2ecc71!important;
}

/* Toolbar preview button */
.toolbar .ui.menu .right .js-crop {
  margin: 6px;
}

.toolbar .ui.menu .right .js-crop i {
  color: #fff;
  position: relative;
  left: 10px;
  opacity: 1;
}
