<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pixizer</title>
    <link rel="stylesheet" href="../lib/semantic.min.css" media="screen" title="no title">
    <link rel="stylesheet" href="../css/main.css" media="screen" title="no title">
  </head>
  <body>
    <!-- Toolbar -->
    <div class="toolbar">
      <div class="ui top menu">
        <div class="item">
          <a href="#" class="icon ui button" data-tooltip="Undo" data-position="bottom center" data-inverted>
            <i class="chevron left icon"></i>
          </a>
          <a href="#" class="icon ui button" data-tooltip="Redo" data-position="bottom center" data-inverted>
            <i class="chevron right icon"></i>
          </a>
        </div>
        <div class="item">
          <a href="#" class="icon ui button open" data-tooltip="Open an image" data-position="bottom center" data-inverted>
            <i class="folder open outline icon"></i>
          </a>
          <a href="#" class="icon ui button" data-tooltip="Save" data-position="bottom center" data-inverted>
            <i class="save icon"></i>
          </a>
          <a href="#" class="icon ui button save-as" data-tooltip="Save as..." data-position="bottom center" data-inverted>
            <i class="copy icon"></i>
          </a>
        </div>
        <div class="item">
          <a href="#" class="icon ui button" data-tooltip="Rotation" data-position="bottom center" data-inverted>
            <i class="undo icon"></i>
          </a>
          <a href="#" class="icon ui button" data-tooltip="Rotation" data-position="bottom center" data-inverted>
            <i class="repeat icon"></i>
          </a>
          <a href="#" class="icon ui button" data-tooltip="Horizontal Symmetry" data-position="bottom center" data-inverted>
            <i class="resize horizontal icon"></i>
          </a>
          <a href="#" class="icon ui button" data-tooltip="Vertical Symmetry" data-position="bottom center" data-inverted>
            <i class="resize vertical icon"></i>
          </a>
        </div>
        <div class="item">
          <a href="#" class="icon ui button" data-tooltip="Settings" data-position="bottom center" data-inverted>
            <i class="setting icon"></i>
          </a>
        </div>
        <div class="right menu">
          <div class="dimensions">
            <div class="inline fields">
              <!-- Width and height -->
              <div class="ui four left transparent icon input">
                <input type="number" id="width" disabled name="width" min="1" max="9999" placeholder="Width">
                <div class="ui label">px</div>
                <i class="resize horizontal icon"></i>
              </div>
              <div class="ui four left transparent icon input">
                <input type="number" id="height" disabled name="height" min="1" max="9999" placeholder="Height">
                <div class="ui label">px</div>
                <i class="resize vertical icon"></i>
              </div>
              <div class="ui four left transparent icon input">
                <div class="ui slider checkbox">
                  <input type="checkbox" id="ratio" disabled tabindex="0" class="hidden">
                </div>
              </div>
              <!-- Preview button -->
              <div class="ui four left input">
                <button class="ui red button js-crop" disabled>Preview <i class="unhide icon"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tabs -->
    <div id="tabs" class="ui top attached tabular menu">
      <a class="item active" data-id="0">Welcome</a>
    </div>

    <!-- Workzone -->
    <div id="workzones" class="ui bottom attached segment">
      <div id="workzone-0" class="workzone inactive">
        <div class="workzone-start">
          <i class="image icon"></i>
          <h2>Open an image file or just drop it here</h2>
        </div>
        <div class="overlay">
          <span class="overlay-before"></span>
          <div class="overlay-inner">
            <span class="overlay-inner-before"></span>
            <span class="overlay-inner-after"></span>
          </div>
          <span class="overlay-after"></span>
        </div>
      </div>
    </div>

    <!-- Status bar -->
    <div class="statusbar">
      <div class="ui grid">
        <!-- Coordinates -->
        <div class="ten wide column">
          <div class="coordinates">
            <span class="x">X : </span><span class="x-value">0px</span>
            <span class="y">Y : </span><span class="y-value">0px</span>
            <span class="width">Width : </span><span class="width-value">0px</span>
            <span class="height">Height : </span><span class="height-value">0px</span>
          </div>
        </div>
        <!-- Zoom -->
        <div class="four wide column right floated aligned">
          <input type="range" id="zoomRange" class="ui range" disabled name="name" value="100" max="300" min="10" step="10">
        </div>
        <div class="two wide column">
          <div class="zoom">
            <div class="ui mini transparent icon input">
              <input type="number" id="zoomField" placeholder="Zoom" value="100" disabled min="10" max="300">
              <i class="percent icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- jQuery -->
  <script type="text/javascript">
    window.$ = window.jQuery = require('../lib/jquery-3.1.1.min.js');
  </script>

  <!-- UI-Semantic -->
  <script src="../lib/semantic.min.js"></script>
  <script type="text/javascript">
    $('.ui.checkbox').checkbox();
  </script>

  <!-- App -->
  <script src="../js/app.js"></script>

</html>
